spring.application.name=OrderAPI

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

## Hibernate properties
spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false

## cors
cors.origin=

## jwt properties
security.jwt.secret-key=

server.port=
